# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
GitHubTest/GitHubTest.sln
GitHubTest/.vs/GitHubTest/v16/.suo
GitHubTest/.vs/GitHubTest/v16/Preview/Browse.VC.db
GitHubTest/.vs/
GitHubTest/Debug/
GitHubTest/GitHubTest/GitHubTest.vcxproj
GitHubTest/GitHubTest/GitHubTest.vcxproj.filters
GitHubTest/GitHubTest/GitHubTest.vcxproj.user
GitHubTest/GitHubTest/Debug/
